@import "../../sass/colors";


.fullColor{
    background: map-get($blue, default);
    color: map-get($white, default);  
}
.errorMessage {
  margin: 0.7rem 0 0 0;
}
.socialButtons {
  flex-direction: column;
}
.icon {
  margin-right: 5px;
}

